<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Kolhapur Automation Test Suite">

	<listeners>
		<listener class-name="com.kolhapur.extentreport.ExtentReporterNG" />
	</listeners>



  <test name="Kolhapur Automation">
    				<classes>
     							 <class name="com.kolhapur.testcases.HomePageTest"/>
     							 <class name="com.kolhapur.testcases.FeedBackPageTest"/>
     							 
    				</classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
